* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 220px 1fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    gap: 15px;
}

.header{grid-area: header; background-color:rgb(70, 0, 82); padding: 15px; color: white;}
.sidebar{grid-area: aside; background-color:rgb(160, 95, 137) ; padding: 20px; text-align: center;a}
.content{grid-area: main; background-color:rgb(220, 159, 190) ; padding: 20px; text-align: center;}
.footer {grid-area: footer; background-color:rgb(70, 0, 82) ; padding: 20px; text-align: center; color: white;}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    background-color: rgb(127, 30, 144);
    padding: 10px;
    display: block;
    white-space: nowrap; /*???*/
    color: white;
    font-weight: bold;
}

