* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "header header" "aside main" "footer footer";
    gap: 15px;
}

.header {
    grid-area: header;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    color: white;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    color: white;
}

.header nav li a {
    text-decoration: none;
    color: white;
}

.header nav li:hover {
    background-color: gray;
}

.sidebar {
    grid-area: aside;
    background-color: antiquewhite;
    padding: 15px;
    text-align: center;
}

ul{
    list-style: none;
}

.content {
    grid-area: main;
    background-color: aliceblue;
    padding: 15px;
    text-align: center;
}

.footer {
    min-height: 100vh;
    grid-area: footer;
    background-color: rgb(120, 42, 118);
    padding: 15px;
    text-align: center;
}