.caixa {
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

.caixa2 {
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container2 {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 38px;
}