nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
}

nav li {
    display: inline-block;
}

nav ul > li:hover{
    background-color: rgb(31, 31, 31);
}

nav ul ul > li a:hover {
    background-color: rgb(127, 127, 127);
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: rgb(80, 80, 80);
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    display: block;
    width: 200px;
}