* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-header, .site-footer {
    background-color: #381764;
    color: white;
    text-align: center;
}

.site-nav ul {
    list-style: none;
    margin: 0;
    background-color: #4b247e;
    padding: 0px;
}

.site-nav li {
    display: inline-block;
}

.site-nav ul > li:hover{
    background-color: #6936ac;
}

.site-nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

.content-wrapper {
    position: relative;
    padding-right: 250px;
}

.main-content {
    padding: 20px;
    width: 100%;
}

.sidebar {
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 138);
}

.sidebar ul {
    list-style: none;
    text-align: center;
}

 .main-content h2 {
    text-align: center;
    background-color: rgb(255, 255, 138);
}

.sidebar h3 {
    background-color: #ffb773;
}