* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-family: "Tiny5", sans-serif;
}

#anexos {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 30px;
    padding: 15px;
}

#anexos img {
    max-width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}