* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

 .site-header, .site-footer {
    background-color: #381764;
    color: white;
    text-align: center;
}

.site-nav ul {
    list-style: none;
    margin: 0;
    background-color: #4b247e;
    padding: 0px;
}

.site-nav li {
    display: inline-block;
}

.site-nav ul > li:hover{
    background-color: #6936ac;
}

.site-nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

.main-content {
    padding: 20px;
    width: 100%;
    text-align: center;
}